<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付宝支付</title>
</head>
<body>
    <div> 
        @(new HtmlString(ViewBag.html))
    </div>
</body>
</html>
