<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付宝支付</title>
    <script src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquery-qrcode/1.0.0/jquery.qrcode.min.js"></script>
    <script>
        function Btn_Website() {
            $.ajax({
                url: 'AliWebsite',
                type: 'POST',
                data: {},
                dataType: "text",
                success: function (data) {
                    $('.box').html(data);
                }
            });
        }
        function Btn_AliWap() {
            $.ajax({
                url: 'AliWap',
                type: 'POST',
                data: {},
                dataType: "text",
                success: function (data) {
                    $('.box').html(data);
                }
            });
        }
        function Btn_AliApp() {
            $.ajax({
                url: 'AliApp',
                type: 'POST',
                data: {},
                dataType: "text",
                success: function (data) {
                    $('.box').html(data);
                }
            });
        }

        function Btn_AliScanpay() {
            $.ajax({
                url: 'AliScanpay',
                type: 'POST',
                data: {},
                dataType: "text",
                success: function (data) {
                    $('.box').html(data);
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <input type="button" value="电脑网站支付 Website" onclick="Btn_Website()" />
        <hr />
        <input type="button" value="手机网站支付 Wap" onclick="Btn_AliWap()" />
        <hr />
        <input type="button" value="支付请求参数 App" onclick="Btn_AliApp()" />
        <hr />
        <input type="button" value="二维码扫描" onclick="Btn_AliScanpay()" />
        <hr />
        <form method="get" action="AlipayRefund">
            <input name="orderNo" type="text" placeholder="订单号" />
            <input type="submit" value="支付宝退款" />
        </form>

        <div class="box"></div>
    </div>
</body>
</html>
