<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付SDK</title>
</head>
<body>
    <div> 
        <p>
            <a href="AlipayDemo">支付宝支付</a>
        </p>
        <hr />
        <p>
            <a href="WxpayDemo">微信支付</a>
        </p>
    </div>
</body>
</html>
