<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>支付SDK</title>
</head>
<body>
    <div> 
        <p>
            <a href="/Home/AlipayDemo">支付宝支付</a>
        </p>
        <hr />
        <form method="get" action="/Home/AlipayRefund">
            <input name="orderNo" type="text" placeholder="订单号" />
            <input type="submit" value="支付宝退款" />
        </form>
        <p>
            <a href="/Home/WxpayDemo">微信支付JSAPI</a>
        </p>
    </div>
</body>
</html>
